@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.chat {
    overflow: hidden;
    height: 85vh;
    &__container {
        height: 85.3vh;
        @extend %flexItemCenter;
        flex-direction: column;
        border-right: 1px solid #000;
    }
}

.chat-info {
    @extend %flexItemCenter;
    flex-direction: column;
    &__avatar {
        width: 68px;
        height: 68px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #0fb5d9;
    }

    &__name {
        margin-top: 12px;
        color: #000;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.21;
    }

    &__mail {
        color: #959595;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.71;
    }
}

.chat-block {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
    overflow-y: auto;

    &__item,
    &__add {
        width: 80%;
        padding: 15px 10px;
        border: 1px solid #959595;
        border-radius: 20px;
    }

    &__add {
        margin-top: 24px;
        display: flex;
        justify-content: center;
    }

    &__item + &__item {
        margin-top: 12px;
    }

    &__title {
        color: #959595;
        font-size: 1.7rem;
        font-style: italic;
    }

    &__diagnostic,
    &__status,
    &__date {
        color: #000;
        font-weight: 500;
        line-height: 1.21;
    }

    &__diagnostic {
        margin-top: 8px;
    }
}

.chat-container {
    display: none;
    overflow: auto;
    align-items: center;
    flex-direction: column;

    &__wrap {
        width: 100%;
        margin-top: 36px;
        padding: 15px 25px;
        border: 1px solid #000;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        transition: 0.15s;

        &:active,
        &:hover {
            color: #fff;
            background: #0fb5d9;
            border-color: #0fb5d9;
        }
    }

    &__wrap + &__wrap {
        margin-top: 12px;
    }
}

.chat-box {
    position: relative;
    height: 100%;
    width: 90%;
    padding: 25px;
    height: 550px;
    position: relative;
    margin: 15px auto;
    border-radius: 20px;
    background: #ccc;

    &__wrap {
        position: absolute;
        top: 30%;
        left: 50%;
        translate: -50% -30%;
        @extend %flexItemCenter;
        gap: 10px;
    }

    &__logo {
        width: 52px;
        height: 52px;
        object-fit: cover;
        background: #08829d;
        border-radius: 8px;
    }

    &__text {
        line-height: 1.21;
    }

    &__form {
        width: 80%;
        position: absolute;
        bottom: 10px;
        left: 20%;

        @include abstracts.screen(md) {
            left: 10%;
        }
    }

    &__input {
        width: 81%;
        height: 42px;
        padding: 5px 140px 5px 15px;
        border: 1px solid #000;
        border-radius: 12px;

        font-size: 1.8rem;
        color: #000;

        &::placeholder {
            font-size: 1.8rem;
            color: #00000046;
        }

        @include abstracts.screen(md) {
            padding: 5px 90px 5px 15px;
            width: 100%;
        }
    }

    &__icons {
        position: absolute;
        bottom: 10px;
        right: 21%;

        @extend %flexItemCenter;
        gap: 12px;

        @include abstracts.screen(md) {
            right: 5%;
        }
    }

    &__icon {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    &__out {
        display: none;
        position: fixed;
        top: 120px;
        left: 450px;
        margin: 15px;
    }

    &__icon-out {
        width: 26px;
        height: 26px;
        rotate: 180deg;
    }

    &__container.hide {
        display: none;
    }

    &__container.show {
        display: block;
    }

    &__container {
        margin-left: 85px;
    }

    &__container-wrap {
        padding: 15px 25px;
        border: 1px solid #000;
        border-radius: 5px;
        transition: 0.25s;
        font-size: 1.8rem;
        line-height: 1.21;

        &:hover {
            color: #fff;
            background: #0fb5d9;
            border-color: #0fb5d9;
            cursor: pointer;
        }

        &--other {
            background: #0fb5d9;
            border: none;
            &:hover {
                cursor: default;
            }
        }
    }

    &__text {
        width: 90%;
        font-size: 1.8rem;
        line-height: 1.21;
    }

    &__text + &__text {
        margin-top: 18px;
    }

    &__title {
        font-size: 2.1rem;
        color: #fff;
        text-align: center;
    }

    &__time {
        margin-top: 28px;
        color: #fff;
    }

    &__box {
        @extend %flexItemCenter;
        justify-content: space-between;
    }

    &__location {
        margin-top: 16px;
        color: #fff;
    }

    &__btn {
        padding: 5px 15px;
        border-radius: 5px;
        color: #0fb5d9;
        background: #fff;
    }
}

.chat-message {
    height: 430px;
    padding: 0 20px;
    overflow: auto;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

    &__icons {
        position: absolute;
        right: 10px;
        bottom: -22px;
    }

    &__icon {
        width: 6px;
        height: 6px;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    &__icon.active {
        opacity: 1;
    }

    &__text {
        word-wrap: break-word;
        max-width: 80%;
        position: relative;
        clear: both;
        float: right;
        margin: 26px 10px;
        padding: 6px 10px 7px;
        background: #0fb5d9;
        font-size: 1.6rem;
        font-weight: 400;
        color: #fff;
        border-radius: 10px 10px 0 10px;
        line-height: 1.21;

        &::before {
            content: "";
            position: absolute;
            bottom: -6px;
            border-top: 6px solid rgba(0, 0, 0, 0.3);
            left: 0;
        }

        &--AI {
            position: relative;
            float: left;
            border-radius: 10px 10px 10px 0;
            background: #08829d;
            color: #ebebeb;

            &:nth-child(2) {
                animation-name: delay1;
                animation-iteration-count: unset;
                animation-delay: 3s;
            }
        }
    }

    &__btn {
        padding: 5px;
        border-radius: 99px;
        color: #0fb5d9;
        background: #fff;
    }
}

.message-image img {
    float: right;
    width: 60%;
    height: 300px;
    clear: both;
    float: right;
    margin: 26px 0;
    object-fit: cover;
}

// .chat-video {
//     width: 100%;
//     height: 500px;
// }
