@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.footer {
    background: #fff;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 200px;
    padding-right: 40px;
    border-radius: 0 0 20px 20px;
    background: #0fb5d9;

    @include abstracts.screen(lg) {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    @include abstracts.screen(md) {
        justify-content: center;
        gap: 0;
        padding-right: 0;
    }

    &__img {
        height: 430px;
        position: relative;
        bottom: 229px;
        display: inline-block;
    }

    &__btn {
        height: 40px;
        width: 24%;
        padding: 12px 22px !important;
        margin-top: 50px;

        &:hover {
            background: #000 !important;
        }

        @include abstracts.screen(xxl) {
            width: 55%;
        }

        @include abstracts.screen(xl) {
            width: 70%;
        }

        @include abstracts.screen(lg) {
            width: 35%;
        }
    }
}

.footer-top-content {
    margin-top: 50px;
    width: 80%;

    @include abstracts.screen(xl) {
        margin-top: 8px;
    }

    @include abstracts.screen(lg) {
        padding: 0 52px;
    }

    @include abstracts.screen(md) {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    &__title {
        color: #fff;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.31;
    }

    &__desc {
        color: #fff;
        margin-top: 1px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.71;
    }
}

.footer-bot {
    @extend %flexItemCenter;
    margin-top: 65px;

    @include abstracts.screen(lg) {
        flex-direction: column;
        gap: 30px;
    }

    @include abstracts.screen(md) {
        align-items: flex-start;
    }

    &__left {
        display: flex;
        flex-direction: column;

        @include abstracts.screen(lg) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
    }

    &__slogan {
        width: 65%;
        margin-top: 30px;
        color: #0fb5d9;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.42;

        @include abstracts.screen(xxl) {
            width: 70%;
        }

        @include abstracts.screen(xl) {
            width: 100%;
        }

        @include abstracts.screen(lg) {
            width: 60%;
            margin-top: 0;
        }

        @include abstracts.screen(md) {
            width: 100%;
        }
    }
}

.footer-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 115px;
    margin-left: 150px;

    @include abstracts.screen(xxl) {
        margin-left: 120px;
        gap: 95px;
        flex-shrink: 0;
    }

    @include abstracts.screen(lg) {
        margin-left: 0;
    }

    @include abstracts.screen(md) {
        grid-template-columns: 1fr;
    }

    &__title {
        margin-left: 10px;
        margin-bottom: 20px;
        color: #0fb5d9;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.56;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        width: 110px;
    }

    &__link {
        opacity: 0.5;
        color: #000;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 1.4rem;
        line-height: 2.14;
        transition: all 0.5s ease;

        &:hover {
            background: #0fb5d9;
            color: #fff;
            opacity: 1;
        }
    }
}

.footer-copyright {
    @extend %flexItemCenter;
    justify-content: space-between;
    margin-top: 40px;
    padding: 20px 0;
    border-top: 1px solid #0fb4d974;

    @include abstracts.screen(md) {
        flex-direction: column-reverse;
        gap: 15px;
    }

    &__text {
        color: #0c6a7f7c;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.57;
    }

    &__socials {
        @extend %flexItemCenter;
        gap: 5px;
    }

    &__social {
        padding: 5px;
        width: 26px;
        height: 26px;
        background: #0fb5d9;
        border: 1px solid #000;
        border-radius: 4px;
        transition: 0.25s;

        &:hover {
            background: #fff;
        }
    }
}
