@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.hero {
    position: relative;
    background: #e9f6ff;

    &__inner {
        @extend %flexItemCenter;

        @include abstracts.screen(lg) {
            flex-direction: column-reverse;
        }
    }
}

.hero-content {
    width: 60%;
    padding-left: 100px;

    @include abstracts.screen(xxl) {
        width: 80%;
    }

    @include abstracts.screen(xl) {
        width: 100%;
    }

    @include abstracts.screen(lg) {
        position: relative;
        margin-top: 150px;
        padding-bottom: 30px;
    }

    @include abstracts.screen(md) {
        margin-top: 18px;
        padding-left: 0;
    }

    &__title {
        width: 50%;
        background: -webkit-linear-gradient(
            128deg,
            rgba(15, 181, 217, 1) 0%,
            rgba(235, 91, 39, 1) 99%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: -0.5px;
        font-size: 6rem;
        font-weight: 600;
        line-height: 1.1;

        @include abstracts.screen(xxl) {
            font-size: 5.2rem;
        }

        @include abstracts.screen(xl) {
            font-size: 4.6rem;
        }

        @include abstracts.screen(lg) {
            font-size: 5.8rem;
        }

        @include abstracts.screen(md) {
            width: 100%;
            text-align: center;
        }
    }

    &__desc {
        width: 70%;
        margin-top: 30px;

        @include abstracts.screen(lg) {
            width: 50%;
        }

        @include abstracts.screen(md) {
            width: 100%;
            text-align: center;
        }
    }

    &__action {
        display: inline-block;
        width: 150px;
        margin-top: 40px;
        // padding: ;

        @include abstracts.screen(lg) {
            position: absolute;
            bottom: 40px;
            right: 50px;
        }

        @include abstracts.screen(md) {
            position: relative;
            bottom: initial;
            right: initial;
            left: 50%;
            translate: -50%;
        }
    }
}

.hero-info {
    width: 50%;
    overflow: hidden;
    height: 612px;
    position: relative;
    background-image: url(../../assets/img/hero/bg.jpg);
    background-size: cover;

    @include abstracts.screen(xxl) {
        width: 70%;
    }

    @include abstracts.screen(xl) {
        width: 95%;
    }

    @include abstracts.screen(lg) {
        width: 100%;
    }

    @include abstracts.screen(md) {
        height: 532px;
    }

    &__avt {
        height: 550px;

        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50%;
        object-fit: cover;
        z-index: 1;

        @include abstracts.screen(sm) {
            width: 100%;
        }
    }

    &__icons {
        position: relative;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        border: 1px solid #62bbff;
        animation: rotate 10s linear 0s infinite;
        opacity: 0.8;
    }

    &__icon {
        position: absolute;
        width: 72px;
        height: 72px;
        object-fit: cover;
        padding: 3px;
        border-radius: 50%;
        background-color: #62bbff6e;

        &:first-child {
            top: -35px;
            left: 187px;
        }

        &:nth-child(2) {
            top: 410px;
            left: 187px;
        }

        &:nth-child(3) {
            top: 103px;
            left: -17px;
        }

        &:nth-child(4) {
            top: 291px;
            left: -9px;
        }

        &:nth-child(5) {
            top: 105px;
            right: -21px;
        }

        &:last-child {
            top: 293px;
            right: -10px;
        }
    }
}

.hero-search {
    width: 55%;

    position: absolute;
    bottom: -130px;
    left: 50%;
    translate: -50%;
    z-index: 2;

    background: #fff;
    border: 1px solid #d8eeff;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 20px 20px -7px rgba(28, 46, 187, 0.1);

    @include abstracts.screen(xl) {
        width: 85%;
        bottom: -150px;
    }

    @include abstracts.screen(lg) {
        bottom: 310px;
        width: 100%;
    }

    &__inner {
        @extend %flexItemCenter;
        flex-direction: column;

        margin: 20px;
        padding: 40px 20px 20px;
        border-radius: 10px;
        background: #0fb5d9;
    }

    &__title {
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        margin-top: 40px;

        @include abstracts.screen(xl) {
            gap: 30px;
        }
    }

    &__item {
        padding: 4px 10px;
        text-align: center;
        font-weight: 500;
        color: #000;
        background: #fff;
        border-radius: 4px;
        transition: 0.3s ease-in;

        &:hover {
            background: #000;
            color: #0fb5d9;
        }
    }
}
