@use "../abstracts";

.modal {
    display: none;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 90px;
    right: 125px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
}

.modal.hide {
    display: none;
}

.modal.show {
    display: block;
}

.modal-container {
    padding: 15px 25px;

    &__icon {
        width: 30px;
        height: 15px;
        position: absolute;
        top: -13px;
        right: 10px;
        box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    }
}
