<div class="container">
    <div class="footer-top">
        <img
            src="./assets/img/footer/avt.png"
            alt=""
            class="footer-top__img d-lg-none"
        />
        <section class="footer-top-content">
            <h2 class="footer-top-content__title">Đặt lịch hẹn</h2>
            <p class="footer-top-content__desc">
                Bạn có thể đặt lịch hẹn với bác sĩ ngay sau khi được AI chat
                chuẩn đoán.
            </p>
        </section>
        <a
            href="./contact-login.html"
            class="btn-border footer-top__btn d-md-none"
            >Đặt lịch</a
        >
    </div>

    <div class="footer-bot">
        <div class="footer-bot__left">
            <div class="logo logo--footer">
                <img src="./assets/img/logo.png" alt="" class="logo__img" />
                <h1 class="logo__text logo__text--footer">Fresh X</h1>
            </div>
            <blockquote class="footer-bot__slogan">
                “Thuốc chữa được bệnh, nhưng chỉ có bác sĩ mới chữa được bệnh
                nhân”.
            </blockquote>
        </div>
        <div class="footer-right">
            <div class="footer-right__wrap">
                <h3 class="footer-right__title">Bác sĩ</h3>
                <ul class="footer-right__list">
                    <li>
                        <a href="#!" class="footer-right__link">Ngoại khoa</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-right__link">Nội khoa</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-right__link">Nhi khoa</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-right__link">Tim mạch</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-right__link">Tai Mũi Hộng</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-right__link">Da liễu</a>
                    </li>
                </ul>
            </div>
            <div class="footer-right__wrap">
                <h3 class="footer-right__title">Các trang</h3>
                <ul class="footer-right__list">
                    <li class="footer-right__item">
                        <a href="#!" class="footer-right__link">Chúng tôi</a>
                    </li>
                    <li class="footer-right__item">
                        <a href="#!" class="footer-right__link">Dịch vụ</a>
                    </li>
                    <li class="footer-right__item">
                        <a href="#!" class="footer-right__link">Liên hệ</a>
                    </li>
                    <li class="footer-right__item">
                        <a href="#!" class="footer-right__link">Đánh giá</a>
                    </li>
                    <li class="footer-right__item">
                        <a href="#!" class="footer-right__link">Bài viết</a>
                    </li>
                </ul>
            </div>
            <div class="footer-right__wrap">
                <h3 class="footer-right__title">Hướng dẫn</h3>
                <ul class="footer-right__list">
                    <li class="footer-right__item">
                        <a href="#!" class="footer-right__link">Giấy phép</a>
                    </li>
                    <li class="footer-right__item">
                        <a href="#!" class="footer-right__link">Nhật ký bệnh</a>
                    </li>
                    <li class="footer-right__item">
                        <a href="#!" class="footer-right__link">Bắt đầu</a>
                    </li>
                    <li class="footer-right__item">
                        <a href="#!" class="footer-right__link">Mật khẩu</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <p class="footer-copyright__text">© Copyright by Daddy World Team</p>
        <div class="footer-copyright__socials">
            <a href="#!">
                <img
                    src="./assets/img/footer/facebook.svg"
                    alt=""
                    class="footer-copyright__social"
                />
            </a>
            <a href="#!">
                <img
                    src="./assets/img/footer/google.png"
                    alt=""
                    class="footer-copyright__social"
                />
            </a>
            <a href="#!">
                <img
                    src="./assets/img/footer/twiter.png"
                    alt=""
                    class="footer-copyright__social"
                />
            </a>
            <a href="#!">
                <img
                    src="./assets/img/footer/ins.png"
                    alt=""
                    class="footer-copyright__social"
                />
            </a>
        </div>
    </div>
</div>
